# Auto detect text files and perform LF normalization
* text=auto

# Treat video and binary files as binary
*.mp4 binary
*.webm binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.wav binary
*.mp3 binary
